---
layout: default
slug: work
title: "GuardPeanut"
---

{% include header.html %}

{% include subheader.html content="<span class=\"fw-500\">GuardPeanut</span><br>Smart Motion Alarm" %}

<div class="wrapper-p0 py4">

  <div class="flex flex-wrap">
    <div class="col-6 col-sm-12 px2 mb4">
      <span class="fw-500">Company:</span> Sen.se
      <br>
      <span class="fw-500">Role:</span> Product Designer
      <br>
      <span class="fw-500">Year:</span> 2016 –– 2017
      <br>
      <span class="fw-500">Award:</span> CES Innovations Awards 2017
    </div>
    <div class="col-6 col-sm-12 px2">
      I worked on GuardPeanut from square one with a small team of Designers and Engineers. The goal was to create a Smart Motion Alarm to protect everyday objects (e.g. bag, bike, laptop).
      <br>
      <br>
      I did various tasks from ideation to production. I worked on features, user interfaces and packaging. I also did some frontend engineering, product management and QA.
      <br>
      <br>
      GuardPeanut was released in November 2016. The product is available worldwide for $29.
    </div>
  </div>

</div>

<div class="wrapper">

  <div class="mb4">
    <img
      src="/assets/images/projects/guardpeanut/guardpeanut-cover.jpg"
      srcset="/assets/images/projects/guardpeanut/guardpeanut-cover-2x.jpg 2x"
      alt="GuardPeanut notification on Apple Watch"
      class="block">
  </div>

  <div class="mb4">
    <div class="video-wrapper">
      <iframe
        width="992"
        height="558"
        src="{{ site.guardpeanut_video_url }}"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="mb4">
    <img
      src="/assets/images/projects/guardpeanut/guardpeanut-screenshots.png"
      srcset="/assets/images/projects/guardpeanut/guardpeanut-screenshots-2x.png 2x"
      alt="GuardPeanut app screenshots"
      class="block">
  </div>

  <div class="mb4">
    <img
      src="/assets/images/projects/guardpeanut/guardpeanut-bike.jpg"
      srcset="/assets/images/projects/guardpeanut/guardpeanut-bike-2x.jpg 2x"
      alt="GuardPeanut on a bike"
      class="block">
  </div>

</div>

{% include quote.html %}

{% include footer.html %}
