---
layout: default
slug: work
---

{% include header.html %}

{% include subheader.html content="<span class=\"fw-500\">Mother</span><br>Smart Home Sensors" %}

<div class="wrapper-p0 py4">

  <div class="flex flex-wrap">
    <div class="col-6 col-sm-12 px2 mb2">
      <span class="fw-500">Company:</span> Sen.se
      <br>
      <span class="fw-500">Role:</span> Product Designer
      <br>
      <span class="fw-500">Year:</span> 2014 –– 2016
      <br>
      <span class="fw-500">Awards:</span> CES Innovations Awards 2016 • Grand prix de l'innovation digitale 2014 • Label Observateur Design 2014
    </div>
    <div class="col-6 col-sm-12 px2">
      Mother is a family of Smart Home Sensors to improve daily life. She takes care of health (e.g. medication reminder, activity and sleep tracker), safety (e.g. door and window alarms) and well-being (e.g. home heating control). I invite you to take a look at the video below to watch it in action.
      <br>
      <br>
      I joined the project after 2 years of R&D just before the worldwide release. I did various design and engineering tasks to make the web application responsive. I also did user research and user testing to improve the product experience.
    </div>
  </div>

</div>

<div class="wrapper">

  <div class="mb4">
    <img
      src="/assets/images/projects/mother/mother-cover.jpg"
      srcset="/assets/images/projects/mother/mother-cover-2x.jpg 2x"
      alt="Mother and its dashboard on iPhone"
      class="block">
  </div>

  <div class="mb4">
    <div class="video-wrapper">
      <iframe
        width="992"
        height="558"
        src="{{ site.mother_video_url }}"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="mb4">
    <img
      src="/assets/images/projects/mother/mother-levitation.jpg"
      srcset="/assets/images/projects/mother/mother-levitation-2x.jpg"
      alt="Mother & the Motion Cookies in levitation"
      class="block">
  </div>

  <div class="mb4">
    <img
      src="/assets/images/projects/mother/mother-box.jpg"
      srcset="/assets/images/projects/mother/mother-box-2x.jpg 2x"
      alt="Mother and its packaging"
      class="block">
  </div>

</div>

{% include quote.html %}

{% include footer.html %}
