---
layout: default
slug: work
title: "OuiCar"
---

{% include header.html %}

{% include subheader.html content="<span class=\"fw-500\">OuiCar</span><br>Rent a car around the corner" %}

<div class="wrapper-p0 py4">

  <div class="flex flex-wrap">
    <div class="col-6 col-sm-12 px2 mb4">
      <span class="fw-500">Company:</span> OuiCar
      <br>
      <span class="fw-500">Role:</span> Product Designer
      <br>
      <span class="fw-500">Teammate:</span> Julien Rad
      <br>
      <span class="fw-500">Year:</span> 2017 – Now
    </div>
    <div class="col-6 col-sm-12 px2">
      I'm crafting a Design System from scratch with Figma for iOS, Android and Web. The goal is to streamline the design language of OuiCar and create a single source of truth for Designers, Product Managers and Developers.
      <br>
      <br>
      I'm also part of a feature team doing various design tasks from ideation to production to launch new features and improve existing ones.
    </div>
  </div>

</div>

<div class="wrapper">

  <div class="mb4">
    <img
      src="/assets/images/projects/ouicar/ouicar-app-ios.png"
      srcset="/assets/images/projects/ouicar/ouicar-app-ios-2x.png 2x"
      alt="OuiCar iOS App Screenshots"
      class="block">
  </div>
  
  <div class="mb4">
    <img
      src="/assets/images/projects/ouicar/ouicar-app-desktop.png"
      srcset="/assets/images/projects/ouicar/ouicar-app-desktop-2x.png 2x"
      alt="OuiCar Desktop App Screenshots"
      class="block">
  </div>

</div>

{% include quote.html %}

{% include footer.html %}
