---
layout: default
slug: work
---

{% include header.html %}

{% include subheader.html content="<span class=\"fw-500\">SleepPeanut</span><br>Smart Sleep Tracker" %}

<div class="wrapper-p0 py4">

  <div class="flex flex-wrap">
    <div class="col-6 col-sm-12 px2 mb4">
      <span class="fw-500">Company:</span> Sen.se
      <br>
      <span class="fw-500">Role:</span> Product Designer
      <br>
      <span class="fw-500">Year:</span> 2016 –– 2017
      <br>
      <span class="fw-500">Award:</span> CES Innovations Awards 2017
    </div>
    <div class="col-6 col-sm-12 px2">
      I worked on SleepPeanut from the ground up with a small team of Designers and Engineers. The goal was to create a Smart Sleep Tracker to help people understand how they sleep and wake up everyday at the perfect time.
      <br>
      <br>
      I did various tasks from ideation to production. I worked on features, user interfaces and packaging. I also did some frontend engineering, product management and QA.
      <br>
      <br>
      SleepPeanut was released in January 2017 in Las Vegas at CES 2017. The product is available worldwide for $29.
    </div>
  </div>

</div>

<div class="wrapper">

  <div class="mb4">
    <img
      src="/assets/images/projects/sleeppeanut/sleeppeanut-cover.jpg"
      srcset="/assets/images/projects/sleeppeanut/sleeppeanut-cover-2x.jpg 2x"
      alt="SleepPeanut on a mattress"
      class="block">
  </div>

  <div class="mb4">
    <div class="video-wrapper">
      <iframe
        width="992"
        height="558"
        src="{{ site.sleeppeanut_video_url }}"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="mb4">
    <img
      src="/assets/images/projects/sleeppeanut/sleeppeanut-iphone-flying.png"
      srcset="/assets/images/projects/sleeppeanut/sleeppeanut-iphone-flying-2x.png 2x"
      alt="SleepPeanut dashboard view"
      class="block">
  </div>

</div>

{% include quote.html %}

{% include footer.html %}
