---
layout: default
slug: work
---

{% include header.html %}

{% include subheader.html content="<span class=\"fw-500\">ThermoPeanut</span><br>Smart Bluetooth Thermometer" %}

<div class="wrapper-p0 py4">

  <div class="flex flex-wrap">
    <div class="col-6 col-sm-12 px2 mb4">
      <span class="fw-500">Company:</span> Sen.se
      <br>
      <span class="fw-500">Role:</span> Product Designer
      <br>
      <span class="fw-500">Year:</span> 2016 –– 2017
      <br>
      <span class="fw-500">Award:</span> CES Innovations Awards 2017
    </div>
    <div class="col-6 col-sm-12 px2">
      I worked on ThermoPeanut from scratch with a small team of Designers and Engineers. The goal was to create a Smart Bluetooth Thermometer to monitor temperature anywhere and control home heating from a smartphone.
      <br>
      <br>
      I did various tasks from ideation to production. I worked on features, user interfaces and packaging. I also did some frontend engineering, product management and QA.
      <br>
      <br>
      ThermoPeanut was released in September 2016 in Berlin at IFA 2016. The product is available worldwide for $29.
    </div>
  </div>

</div>

<div class="wrapper">

  <div class="mb4">
    <img
      src="/assets/images/projects/thermopeanut/thermopeanut-cover.jpg"
      srcset="/assets/images/projects/thermopeanut/thermopeanut-cover-2x.jpg 2x"
      alt="ThermoPeanut on a wall"
      class="block">
  </div>

  <div class="mb4">
    <div class="video-wrapper">
      <iframe
        width="560"
        height="315"
        src="{{ site.thermopeanut_video_url }}"
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>

  <div class="mb4">
    <img
      src="/assets/images/projects/thermopeanut/thermopeanut-screenshots.png"
      srcset="/assets/images/projects/thermopeanut/thermopeanut-screenshots-2x.png 2x"
      alt="ThermoPeanut app screenshots"
      class="block">
  </div>

  <div class="mb4">
    <img
      src="/assets/images/projects/thermopeanut/thermopeanut-iphone-dashboard.jpg"
      srcset="/assets/images/projects/thermopeanut/thermopeanut-iphone-dashboard-2x.jpg 2x"
      alt="ThermoPeanut dashboard view"
      class="block">
  </div>

</div>

{% include quote.html %}

{% include footer.html %}
